page-page1 {

}
ion-spinner {
  width: 25px;
  height: 25px;
  stroke: #444;
  fill: #222;
  transform: scale(2);
}
.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.avataIcon{
  width: 7rem;
  max-width: 7rem;
  height: 7rem;
  max-height: 7rem;
  border-radius: 4rem;
}

.item-md{
  padding-left: 4px;
}

