<ion-header>
  <ion-navbar color = "secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List ATM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div class="spinner">
    <ion-spinner name="bubbles" color="danger" *ngIf="isLoading" text-center></ion-spinner>
  </div>
  <ion-list no-lines="true">
    <ion-card *ngFor="let atmLocation of atmLocations">
      <ion-item >
        <ion-avatar item-left>
          <img [src] = "atmLocation.urlImage" class="avataIcon"/>
        </ion-avatar>
        <h2>{{atmLocation.name}}.</h2>
        <p>Distance: {{atmLocation.distance}} m.</p>
        <h3>Address: {{atmLocation.address}}.</h3>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-searchbar [(ngModel)]='searchQuery' (ionInput)="searchResult()"></ion-searchbar>
  </ion-toolbar>
</ion-footer>


